* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    font-size: 1.125em;
}

h4 {
    font-size: 1.25em;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.submission {
    display: inline-flex;
    align-self: center;
    margin: 20px 0;
/*    display: block;
*/
/*
    margin-left: 30%;
    transform: translateX(-30%);
*/
}

.submission div {
    margin: 0 5px;
    padding: 5px;
}

div.infoContainer {
    padding: 0;
    display: flex;
}

.textContainer {
    margin: 0 !important;
}

div.textContainer {
    margin: 5px 5px;
}

.buttonContainer {
    margin-right:-100px;
}

.infoContainer>div {
    /* padding: 10px; */
    margin: 0 10px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoContainer>div:last-of-type,
.infoContainer>div:first-of-type {
    margin: 0;
}

.infoContainer>div>p {
    margin-top: 1em;
}

.submission button {
    font-size: 1.25em;
    padding: 5px 25px;
    background: transparent;
    border: 1px solid black;
    transition: box-shadow 0.1s ease;
}

.submission button:hover {
    box-shadow: 0 0 2px inset;
}

.submission figcaption {
    font-size: 2em;
    text-decoration: underline;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
    padding: 5px;
}