<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="index.css">
		<meta charset="utf-8">
		<title> Server </title>
		<style>
            {% include "index.css" %}
		</style>
	</head>

	
	<body>
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'submissions')" left="100px">Submission Requests</button>
            <button class="tablinks" onclick="openTab(event, 'accepted')" left="100px">Accepted Submissions</button>
        </div>


        <!-- Tab content -->
        <div id="submissions" class="tabcontent">
			<h1 style="text-align:center">Submission Requests</h1>
			<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
			<script src='./renderer.js'></script>
			<script src="{{url_for('main')}}"></script>
		</div>

		<div id="accepted" class="tabcontent">
            <h3>Previous Submissions</h3>
            <nav>
              <ul id="submissionList">
              </ul>
            </nav>
        </div>


	</body>
</html>