* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    font-size: 1.125em;
}

h4 {
    font-size: 1.25em;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.submission {
    display: inline-flex;
    align-self: center;
    margin: 20px 0;
    display: block;
/*    margin-left: 50%;
    transform: translateX(-50%);
*/
}

.submission div {
    margin: 0 5px;
    padding: 5px;
}

div.infoContainer {
    padding: 0;
    display: flex;
}

.textContainer {
    margin: 0 !important;
}

div.textContainer {
    margin: 5px 5px;
}

.buttonContainer {
    margin-right:-100px;
}

.infoContainer>div {
    /* padding: 10px; */
    margin: 0 10px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoContainer>div:last-of-type,
.infoContainer>div:first-of-type {
    margin: 0;
}

.infoContainer>div>p {
    margin-top: 1em;
}

.submitButton {
    font-size: 1.25em;
    padding: 5px 25px;
    background: transparent;
    border: 1px solid black;
    transition: box-shadow 0.1s ease;
}

.submitButton:hover {
    box-shadow: 0 0 2px inset;
}

.discardButton {
    font-size: 1.25em;
    padding: 5px 25px;
    background: transparent;
    border: 1px solid black;
    transition: box-shadow 0.1s ease;
}

.discardButton:hover {
    box-shadow: 0 0 2px inset;
}

.submission figcaption {
    font-size: 2em;
    text-decoration: underline;
}
