<html>

<head>
    {% block head %}
    <link rel="shortcut icon" href="">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GCS | TJ UAV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
            {% include "index.css" %}
    </style>

    {% block javascript1 %}
    <script type="text/javascript">
      {% include "jquery.js" %}
    </script>
    {% endblock %}


    {% endblock %}
</head>

<body>
  {% block body %}
  <div id="root" style="display: flex;">
      <div id="imageDiv">
        <img width="450" height="450" id="myImage">
        <div id="button-group">
            <button onclick='previous()' type="button">Previous</button>
            <button onclick='send()' type="button">Send</button>
            <button onclick='next()' type="button">Next</button>
        </div>
      </div>
      <div id="textDiv">
          <h2>Lowest: <span id="lowest_index"></span></h2>
          <h2>Current: <span id="current_index"></span></h2>
          <h2>Highest: <span id="highest_index"></span></h2>
        </div>
    </div>

    </div>
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript">
      {% include "index.js" %}
    </script>
    {% endblock %}
</body>
</html>
