@font-face {
    font-family: "Karla";
    src: url("../assets/ttf/Karla-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Space Mono";
    src: url("../assets/ttf/SpaceMono-Regular.ttf") format("truetype");
}

.submissionRow{
  float: left;
  display: table;
  width: 60%;
}

.btn-group{
    padding-top: 20px;
}

button {
    width:150px;
    height:50px;
    color:#ffffff;
    padding: 0 15px;
    font: bold 100% 'Karla';
    background-color:#0000ff;
    border:1px solid;
    border-color: #696 #363 #363 #696;
}

html,
body {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    font-family: "Karla", sans-serif;
    line-height: 15px;
}

#rubberBand {
  position: absolute;
  visibility: hidden;
  width: 0px; height: 0px;
  border: 2px solid red;
}

#cropView {
    margin: 25px;
    width: 200px;
    height: 200px;
}