<html>

<head>
    {% block head %}
    <link rel="shortcut icon" href="">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GCS | TJ UAV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
            {% include "index.css" %}
		</style>
    {% endblock %}
</head>

<body>
  {% block body %}
    <div id="root">
      <img width="450" height="450" id="myImage" src="../assets/img/generictarget.jpg">
      <div id="button-group">
          <button onclick='previous()' type="button">Previous</button>
          <button onclick='send()' type="button">Send</button>
          <button onclick='next()' type="button">Next</button>
      </div>
    </div>
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript">
      {% include "index.js" %}
    </script>
    {% endblock %}
</body>
</html>
