<html>

<head>
    {% block head %}
        <link rel="shortcut icon" href="">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>GCS Client | TJ UAV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='assets/build/image-clipper.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock %}
</head>

<body>
{% block body %}
    <div id="root">
        <div id="imageDiv" style="float: left;">
            <img width="500" height="500" id="myImage">
            <div ID="rubberBand"></div>
            <img id="cropView">
        </div>

        <div id="infoDiv">
            <div id="numDiv">
                <h3>Current: <span id="current_index"></span></h3>
                <h3>Highest: <span id="highest_index"></span></h3>
            </div>
            <input id="goto_input" placeholder="image number" type="number">
            <button id="goto_btn" onclick="gotoImage(document.getElementById('goto_input').value)" type='button'>Go to</button>
            <div class="btn-group">
                <button onclick='previous()' type="button">Previous</button>
                <button onclick='next()' type="button">Next</button>
            </div>
            <div class="btn-group">
                <button onclick='crop()' type="button">Crop</button>
                <button onclick='send()' type="button">Send</button>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
