
<!DOCTYPE html>
<html>
	<head>
		<title>Vanilla JS Image Cropper Demo</title>
		<!-- META -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- STYLES -->
	</head>
	<body>
		<div id="imageDiv">
			<img width="350" height="350" style="float: left;" src="../assets/img/generictarget.jpg" id="myImage">
			<img id="preview" alt="image-clipper preview" style="display: block;">
		</div>

    <script type="text/javascript" src="{{ url_for('static', filename='build/image-clipper.js')}}"></script>
    <script type="text/javascript">
      {% include "test.js" %}
    </script>
		<button type="button" onclick="crop()">Crop</button>
  	</body>
</html>
