@font-face {
    font-family: "Karla";
    src: url("../assets/ttf/Karla-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Space Mono";
    src: url("../assets/ttf/SpaceMono-Regular.ttf") format("truetype");
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.slider {
  -webkit-appearance: none;
  width: 350%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-group button {
  padding-top: 60px;
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: inline-block; /* Make the buttons appear below each other */
}

button[type="button"], button[type="submit"] {
    width:150px;
    height:50px;
    color:#ffffff;
    padding: 0 15px;
    font: bold 100% 'Karla';
    background-color:#0000ff;
    border:1px solid;
    border-color: #696 #363 #363 #696;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.divider {
  width:20px;
  height:auto;
  display:inline-block;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px;
  border-top: none;
}

html,
body {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    font-family: "Karla", sans-serif;
    line-height: 15px;
}

#header {
    position: absolute;
    top: 30px;
    right: 30px;

    text-align: right;
}

#data {
    position: absolute;
    bottom: 30px;
    left: 30px;

    text-align: left;
}
#data span {
    font-family: "Space Mono", monospace;
}

#rubberBand {
  position: absolute;
  visibility: hidden;
  width: 0px; height: 0px;
  border: 2px solid red;
}
